.container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 20%;
    background-color: yellow;
    font-size: 24pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
    display: inline-flex;
    flex-direction: row;
    background-color: white;
    height: 100%;
}

.split-left{
    flex: 50%;
    height: 100%;
}

.split-right {
    flex: 50%;
    height: 100%;
}

.image-container{
    background-image: url(../assets/Website-Banner.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 100%;
    width: 100%;
}

.header-items{
    align-self: center;
    padding: 0 15px;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif
    display: inline-block;
}

.intro{   
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 24pt;
    


.nav-wrapper{
    display: inline-flex;
    height: 100%;
    float: right;
}

.nav-wrapper div{
    /*
     width: 100%;
    height: 100%; */
}

.title-wrapper{
    display: inline-flex;
    height: 100%;
} 

.title {
    align-self: center;
    font-size: 60px;
    padding: 15px;
  }

.biography-description {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 24pt;
    width: 70%;
    margin: auto;

}

a:link{
    color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:visited{
    color: black;
}

a:hover {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.menu-icon{
    background-image: url("../assets/menu-icon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    align-self: center;
    display: none;
}

@media screen and (max-width: 950px){
    .header-items{
        display: none
    }

    .menu-icon {
        display: block
    }