.container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 20%;
    background-color: yellow;
    font-size: 24pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
    display: inline-flex;
    flex-direction: row;
    background-color: black;
    height: 100%;
}

.left{
    flex: 50%;
    height: 100%;
}

.right {
    flex: 50%;
    height: 100%;
}

.image-container{
    background-image: url("https://static1.squarespace.com/static/5a918c4c3917ee828d5f0ba9/t/5a986e17e4966b76bbe7a849/1519939099975/Naomi-Ruele-100-women-Fb.jpg");
    background-position: right; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    height: 100%;
    width: 100%;
}

.header-items {
    align-self: center;
    padding: 0 15px;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.nav-wrapper{
    display: inline-flex;
    height: 100%;
    float: right;
}

.nav-wrapper div{
    /*
     width: 100%;
    height: 100%; */
}

.title-wrapper{
    display: inline-flex;
    height: 100%;
} 

.title {
    align-self: center;
    font-size: 60px;
    padding: 15px;
  }

.ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 24pt;

}

a:link{
    color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:visited{
    color: black;
}

a:hover {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.menu-icon{
    background-image: url("../assets/menu-icon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    align-self: center;
    display: none;
}

@media screen and (max-width: 950px){
    .header-items{
        display: none
    }

    .menu-icon {
        display: block
    }